{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="wrap">
    <div style="margin-bottom: 20px; text-align: center;">
        <h1 class="header">Admin-Page</h1>        
        <p class="grey_text">Hallo, <b>{{ current_user.first_name }}</b></p>
    </div>
    <form method="POST">
        <h2>Devlog</h2>
        <div class="devlog_div">
            <div>            
                <p>Titel</p>
                <textarea name="title" id="title" class="form-control" placeholder="Titel..."></textarea>
            </div>
            <div>               
                <p>Devlog-Inhalt</p>
                <textarea name="note" id="note" class="form-control" placeholder="Text..."></textarea>
            </div>
            <div>
                <p>Tag</p>
                <SELECT name="status" id="status">
                    <option value="allgemein">Allgemein</option>
                    <option value="neues">Neues</option>
                    <option value="wgt">Wie geht das?</option>
                </SELECT>
            </div>
            <div>
                <button type="submit" id="submit" class="submit-button">Hinzufügen</button>    
            </div>
        </div>
    </form>
    <div class="app_info">
        <h2>App-Version</h2>
        <div class="devlog_div">
            <div>
                <p>Version</p>
                <textarea name="version", id="version", class="form-control"></textarea>
            </div>
            <div>
                <button type="submit", id="apply_version", class="submit-button">Aktuallisieren</button>
            </div>
        </div>
    </div>
    <div class="users">
        <h2>Mitarbeiter</h2>
        <div class="scroll">
            <table>
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Typ</th>
                    <th>ID</th>
                    <th>Bearbeiten</th>
                </tr>
                {% for account in users %}
                <tr>
                    <td>{{ account.first_name }}</td>
                    <td>{{ account.email }}</td>

                    <td>
                        {% if account.user_state == "admin" %}
                        <p class="admin">Administrator</p>
                        {% endif %}
                        {% if account.user_state == "employee" %}
                        <p class="employee">Mitarbeiter</p>
                        {% endif %}
                    </td>
             
                    <td>{{ account.id }}</td>
                    <td><p style="margin: 0 auto;"><a style="margin: 0 auto;" class="edit_user" href="/edit/{{ account.id }}">Bearbeiten</a></p></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <a class="menu__item_ann" href="/sign-up">+ Mitarbeiter Hinzufügen</a>
    </div>
</div>
<script>
    document.getElementById('submit').addEventListener("click", (e) => {
        e.preventDefault();
        selectElement = document.getElementById("status");
        output = selectElement.value;
        title = document.getElementById("title").value;
        note = document.getElementById("note").value;
        fetch("/admin", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify({status: output, title: title, note: note})
        })

    })
    document.getElementById('apply_version').addEventListener("click", (e) => {
        e.preventDefault();
        selectElement = document.getElementById("version");
        output = selectElement.value;
        fetch("/admin/updateappinfo", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: JSON.stringify({id: output})
        })

    })
</script>

{% endblock %}