<!DOCKTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="{{ url_for('static', filename='GoodDrinksWebsiteIcon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link href='https://css.gg/css' rel='stylesheet'>

        <title>{% block title %}Home{% endblock %} | GoodDrinks</title>
    </head>
    <nav>
        <div class="nav_elements">

            <div class="nav_burger">
                <div class="hamburger-menu">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                      <span></span>
                      <span></span>
                      <span></span>
                    </label>
                    
                    
                    <ul class="menu__box">
                        <h1 class="navtext"><a href="/">GoodDrinks</a></h1>
                        <div class="divline"></div>
                        <li><a class="menu__item" href="/">Home</a></li>
                        <li><a class="menu__item" href="/offene-bereiche">Offene Bereiche</a></li>
                        <li><a class="menu__item" href="/funktion-eins">Leergut-Rechner</a></li>
                        <li><a class="menu__item" href="/funktion-zwei">Klicker-App</a></li>
                        <li><a class="menu__item" href="/funktion-drei">Lagen-Rechnung</a></li>
                        <li><a class="menu__item" href="/hilfe">Hilfe/Über</a></li>
                        {% if current_user.user_state == "admin" %}
                        <li><a class="menu__item" href="/admin">Admin-Page</a></li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <li><a class="menu__item" href="/login">Anmelden</a></li>
                        {% else %}
                        <li><a class="menu__item" href="/logout">Abmelden</a></li>
                        {% endif %}
                        <div class="divline"></div>
                        <li><a class="menu__item_ann" style="display:block; margin: 0 auto; margin-top: 22px;" href="/blog">Es gibt Neuigkeiten! 📣</a></li>
                      </ul>
                    </div>
  
              </div>
              <div class="logo">
                  <h1>G</h1>
              </div>
          </div>
      </nav>
      <body>
  
          <div class="ext_nav">
  
          </div>
  
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %} {% if category ==
          'error' %}
          <div class="error-alert" id="error-alert">
              {{ message }}
              <button type="button" class="close" onclick="hideError()" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          {% else %}
          <div class="success-alert" id="success-alert">
              {{ message }}
              <button type="button" class="close" onclick="hideSuccess()" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %} {% endfor %} {% endif %} {% endwith %}
  
          <div class="container">{% block content %} {% endblock %}</div>
  
      </body>
      <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
      ></script>
      <script>
        function hideError() {
            var x = document.getElementById("error-alert");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function hideSuccess() {
            var x = document.getElementById("success-alert");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
      </script>
</html>