{% extends 'base.html' %}
{% block title %}Devlog{% endblock %}
{% block content %}
<div class="home-wrapper">
    <h1>Devlog</h1>
    <p class="app_info">
    Version: {{ app_version }}
    </p>
    <div class="blog">
        <ul class="center">
            {% for note in session %}
            <div class="devlog">
                <p class="{{ note.tag }}">
                    {% if note.tag == "allgemein" %}
                    Allgemein
                    {% endif %}
                    {% if note.tag == "neues" %}
                    Neues
                    {% endif %}
                    {% if note.tag == "wgt" %}
                    Wie geht das?
                    {% endif %}
                </p>
                <h2 class="devlog_title">{{ note.title }}</h2>
                <div class="divline"></div>
                <p>{{ note.data }}</p>
                <div class="divline"></div>
                <p class="time">{{ note.date }}</p>
                {% if user.first_name == "admin" %}
                    <button type="button" class="close" onClick="deleteNote({{ note.id }})"><span aria-hidden="true">&times;</span></button>
                {% endif %}
            </div>
            {% endfor %}
        </ul>
        <div class="devlog">
            <p class="allgemein">Allgemein | v.1.0.3</p>
            <h2 class="devlog_title">v. 1.0.3</h2>
            <div class="divline"></div>
            <p>
            Hallo. Es ist eine neue Version rausgekommen! Dieses Mal gibt es nicht all zu große Veränderungen.
            <li>UI-Veränderungen</li>
            <li>Implementierung von einer weiteren Datenbank</li>
            <li>Visuelle Tutorial-Hilfen</li>
            </p>
            <br>
            Die Webseite ist nun sowohl für mobile Geräte als auch Deskop/Laptop ausgelegt um die Nutzung möglichst einfach zu machen.
        </div>
        <div class="devlog">
            <p class="neues">Neues</p>
            <h2 class="devlog_title">Neu: Devlog</h2>
            <div class="divline"></div>
            <p>
            <b>Es gibt nun einen Devlog! (Bzw. Developer Log)</b>
            <br>
            <br>
            Ein Devlog ist so etwas wie ein Tagebuch für den Entwickler.
            Das bedeutet, dass ihr hier auf der Webseite nun neue Updates und Features direkt mitbekommt, wenn ihr euch hier die neusten Einträge anschaut.
            Diese Einträge dokumentieren die Veränderungen und erklären diese.
            <br>
            <br>
            Es gibt auch so genannte Tags!
            <br>
            <br> 
            <span class="allgemein">Sowas hier!</span>
            <br>
            <br>
            Diese helfen euch zu erkennen, worum es in dem Eintrag geht. Es gibt 3 verschiedene Tags:
            <br>
            <br>
            1. <b>Allgemein</b>: Erklärt allgemeine Veränderungen und Updates.
            <br>
            2. <b>Neues</b>: Dieser Tag wird benutzt, wenn es neue konkrete Änderungen gibt.
            <br>
            3. <b>Wie geht das?</b>: Wird benutzt um verschiedene Funktionen zu erklären.
            <br>
            <br>
            Viel Spaß!
            </p>
        </div>
        <div class="devlog">
            <p class="allgemein">Allgemein</p>
            <h2 class="devlog_title">22.06.2022</h2>
            <div class="divline"></div>
            <p>
            1. Es wurde eine neue Funktion eingeführt. Diese beinhaltet die Möglichkeit, Bereiche hinzuzufügen mit einer Beschreibung (nur für TLs). Mitarbeiter können diese Bereiche dann als erledigt ankreuzen, um diese in einen neuen Bereich zu verschieben. So kann gut ein Überblick behalten werden, wie weit der Fortschritt in der Filiale bereits ist.
            <br>
            <br>
            2. Es gibt größere Veränderungen im Bereich der Benutzeroberfläche und der Erfahrung. So wurde die Home-Page überarbeitet und es gibt nun eine neue Navigationsleiste. 
            <br>
            <br>
            2.1 Die Klicker-App hat nun eine neue Anordnung, welche die Bedienung angenehmer macht. Das "Ware-Preis"-Feld hat nun auch eine dynamische Funktion.
            <br>
            <br>
            3. Die Funkion Drei (Lagenrechnung) ist nun auch 100% dynamisch. So kann man alles nun schneller eingeben und man bekommt ein Live-Update.
            </p>
        </div>
        
        <div class="devlog">
            <p class="neues">Neues</p>
            <h2 class="devlog_title">21.06.2022</h2>
            <div class="divline"></div>
            <p>
            Hallo. Die App wird für einige Minuten nicht erreichbar sein. Das liegt an Wartungen. Bitte habt einen Moment Geduld! :)
            </p>
        </div>
    
        <div class="devlog">
            <p class="wgt">Wie geht das?</p>
            <h2 class="devlog_title">Neue Bereiche hinzufügen</h2>
            <div class="divline"></div>
            <p>
            <b>Wie füge ich einen neuen Bereich hinzu?</b>
            <br>
            Um einen neuen Bereich hinzuzufügen, gehe bitte zu den <a href="/offene-bereiche">offenen Bereichen</a>. Dort wirst du ein Feld finden, welches dir erlaubt eine Bereichnummer und eine entsprechende Beschreibung hinzufügen. Danach gebe bitte das Passwort ein! (Das liegt daran, dass diese Funktion nur für Teamleiter zu Verfügung steht).
            <br>
            Und Fertig! Dein Bereich sollte nun nach dem aktuallisieren der Seite verfügbar sein.
            </p>
        </div>
        <div class="devlog">
            <p class="allgemein">Allgemein</p>
            <h2 class="devlog_title">04.01.2022</h2>
            <div class="divline"></div>
            <p>
            Application is now ready for deployment. 
            </p>
        </div>
        <div class="devlog">
            <p class="neues">Neues</p>
            <h2 class="devlog_title">16.05.2022</h2>
            <div class="divline"></div>
            <p>
            Für Funktion Eins und Zwei wurden dynamische Updates entwickelt. 
            Nun wird die Applikation automatisch erneuert, sobald sich ein 
            anderer Wert in den Feldern befindet oder ein Knopf betätigt wird.
            </p>
        </div>
        <div class="devlog">
            <p class="neues">Neues</p>
            <h2 class="devlog_title">26.01.2022</h2>
            <div class="divline"></div>
            <p>
            Die neuen Funktionsnamen 
            wurden nun auch komplett auf die Seiten übertragen. 
            Unter anderem wurden auch weitere Platzhalter-Texte überarbeitet 
            um die App mehr verständlich zu machen.
            </p>
        </div>
    </div>

</div>
{% endblock %}