{% extends 'base.html' %}
{% block title %}Lagen-Rechnung{% endblock %}
{% block content %}
<h1 align="center">Lagen-Rechnung</h1>


<form method="POST">

    <div align="center">
        <div class="wrapper">
            <div class="form__group">
                <input name="zahl1" id="zahl1" class="form__input" type="number" placeholder="Höhe"></input>

                <i class="material-icons">add</i>

                <input name="zahl2" id="zahl2" class="form__input" type="number" placeholder="Breite"></input>

                <i class="material-icons">add</i>

                <input name="zahl3" id="zahl3" class="form__input" type="number" placeholder="Tiefe"></input>

                <i class="material-icons">add</i>

                <input name="zahl4" id="zahl4" class="form__input" type="number" placeholder="Lose (Optional)"></input>

                <input name="ware_preis" id="ware_preis" class="form__input" type="number" placeholder="Waren Preis (Optional)" min="0" step=".01"></input>

            </div>
        </div>
        <button type="submit" class="submit-button">Submit</button>

        <p class="output_text">{{ ergebnis }} Waren</p>
    </div>


</form>
{% endblock %}