{% extends 'base.html' %}
{% block title %}Fnk 2{% endblock %}
{% block content %}
<h1 align="center">Funktion 2</h1>


<form method="POST">

    <div align="center">
        <div class="wrapper">
            <div class="form__group">

                <button type="submit" name="submit_button" value="x1" class="submit-button">x1</button>
                <button type="submit" name="submit_button" value="x2" class="submit-button">x2</button>
                <button type="submit" name="submit_button" value="x3" class="submit-button">x3</button>
                <button type="submit" name="submit_button" value="x5" class="submit-button">x5</button>
                <button type="submit" name="submit_button" value="x10" class="submit-button">x10</button>

                <input name="ware_preis" id="ware_preis" class="form__input" type="number" placeholder="Waren Preis" value="{{ ware_preis }}" min="0" value="0" step=".01"></input>

            </div>
        </div>

        <p class="output_text">{{ ergebnis }}</p>
        <button type="submit" name="submit_button" value="clear" class="clear-button">Clear</button>

    </div>


</form>
{% endblock %}