{% extends 'base.html' %}
{% block title %}Hilfe{% endblock %}
{% block content %}
<div class="home-wrapper">
        <p align="center"id="output">Bei Problemen, bitte wende Dich an den/die Teamleiter oder Teamleiterin. Sollten technische Probleme wie Bugs und/oder Fehler kommen, bittle wende dich an die Entwickler.</p>
        <div class="menu2" align="center">
            <a id="btn-menu-mail" align="center" href="mailto:contact@sarguhl.lol">E-Mail schreiben</a>
            <a id="btn-menu-mail" align="center" href="/impressum">Impressum</a>
        </div>
        <h1 align="center" class="home-h1">Entwickler-Bereich</h1>
        <p align="center"id="output">Unter dem Button "Open Source", findest du den Quellcode von der Website/App. Dies ist für die normale Benutzung der App nicht notwendig.<br>Devlogs sind regelmäßige Updates über die App und ihren Zustand.(Noch in Arbeit)</p>
        <div class="menu2" align="center">
            <a id="btn-menu-os" align="center" href="https://github.com/sarguhl/GoodDrinks">Open Source</a>
            <a id="btn-menu-mail" align="center" href="https://github.com/sarguhl/GoodDrinks/projects/2">Dev-Logs</a>
        </div>
</div>

{% endblock %}