{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="home-wrapper">
    <h1>Wähle eine Option</h1>
    <div class="menu">
        <!-- <div class="center_tooltip">
            <div class="tooltip">Offene Bereiche
                <span class="tooltiptext">Aktuell nicht verfügbar.</span>
            </div>
        </div> -->
        <a class="cta-gohst" href="/offene-bereiche">Offene Bereiche</a>
        <a class="cta-gohst" href="/funktion-eins">Leergut-Rechner</a>
        <a class="cta-gohst" href="/funktion-zwei">Klicker-App</a>
        <a class="cta-gohst" href="/funktion-drei">Lagen-Rechnung</a>
    </div>
</div>
<div class="qa">
    <a class="menu__item_ann" href="/blog">Es gibt Neuigkeiten!</a>
    <a class="menu__item_ann1" href="https://github.com/sarguhl/GoodDrinks">Open-Source</a>
    <a class="menu__item_ann2" href="/impressum">Impressum</a>
</div>

{% endblock %}