{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="home-wrapper">
    <h1>Wähle eine Option</h1>
    <div class="menu">
        <!-- <div class="center_tooltip">
            <div class="tooltip">Offene Bereiche
                <span class="tooltiptext">Aktuell nicht verfügbar.</span>
            </div>
        </div> -->
        <a class="cta-gohst" href="/offene-bereiche">Offene Bereiche</a>
        <a class="cta-gohst" href="/funktion-eins">Leergut-Rechner</a>
        <a class="cta-gohst" href="/funktion-zwei">Klicker-App</a>
        <a class="cta-gohst" href="/funktion-drei">Lagen-Rechnung</a>
    </div>
</div>

{% endblock %}