{% extends 'base.html' %}
{% block title %}Offene Bereiche{% endblock %}
{% block content %}



<div align="center">
    <div class="wrapper">
            <div class="neuer_bereich">
                <div>            
                    <p>Bereich-Nummer</p>
                    <input name="bereich_nummer" id="bereich_nummer" class="bereich_nummer" type="number" placeholder="Bereich-Nummer..." min="0" max="9999" step="0" autocomplete="off"></input>
                </div>
                <div>               
                    <p>Bereich-Name</p>
                    <input name="bereich_name" id="bereich_name" class="bereich_nummer" type="text" placeholder="Bereich-Name..." min="0" autocomplete="off"></input>
                </div>
                <div>
                    <button type="submit" id="submit" class="submit-button">Hinzufügen</button>    
                </div>
            </div>

        <div class="divline"></div>

        <div class="offene_bereiche" id="foo">
            {% for bereich in bereiche %}
                <div class="angelegter_bereich">
                    <input value="{{ bereich[0] }}" type="checkbox" class="bereich_claim" id="flag_bereich">
                    <div>            
                        <p>Bereich-Nummer</p>
                        <h1>{{bereich[0]}}</h1>
                    </div>
                    <div>               
                        <p>Bereich-Name</p>
                        <h3>{{bereich[1]}}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="divline"></div>

        <div class="geschlossene_bereiche" id="bar">
            {% for bereich in c_bereiche %}
                <div class="gesch_bereich">
                    <input value="{{ bereich[0] }}" type="checkbox" class="bereich_claim" id="flag_bereich">
                    <div>            
                        <p>Bereich-Nummer</p>
                        <h1>{{bereich[0]}}</h1>
                    </div>
                    <div>               
                        <p>Bereich-Name</p>
                        <h3>{{bereich[1]}}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>

        <button id="adminbtn" name="adminbtn">Alles Löschen</button>
        <dialog id="favDialog">
            <form method="dialog" align="center">
            <div>
                <section>
                    <p><label for="favAnimal">Bitte geben Sie das Passwort ein:</label>
                        <form action="" method="post">
                            <input type="text" id="favAnimal" name="sendmsg" placeholder="Type message..." maxlength="50" size="50" autocomplete="off">
                        </form>
                    </select></p>
                </section>
            </div>
            <div>
                <menu>
                    <button id="cancel" type="reset">Abbrechen</button>
                    <button id="sendmsgbtn" type="sendmsgbtn">Bestätigen</button>
                </menu>
            </div>
            </form>
        </dialog>
        <dialog id="favDialog2">
            <form method="dialog" align="center">
            <div>
                <section>
                    <p><label for="favAnimal2">Bitte geben Sie das Passwort ein:</label>
                        <form action="" method="post">
                            <input type="text" id="favAnimal2" name="sendmsg2" placeholder="Type message..." maxlength="50" size="50" autocomplete="off">
                        </form>
                    </select></p>
                </section>
            </div>
            <div>
                <menu>
                    <button id="cancel2" type="reset">Abbrechen</button>
                    <button id="sendmsgbtn2" type="sendmsgbtn">Bestätigen</button>
                </menu>
            </div>
            </form>
        </dialog>

        <script>
            const someCheckbox = document.querySelectorAll('.bereich_claim');
            someCheckbox.forEach(function(someCheckbox){
                someCheckbox.addEventListener('change', e => {
                    fetch("/offene-bereiche/rev", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Accept": "application/json"
                        },
                        body: JSON.stringify({bereichId: e.target.value})
                        
                    })
                });
            });

        </script>

        <script>
            (function() {
            var updateButton = document.getElementById('submit');
            var cancelButton = document.getElementById('cancel2');
            var dialog = document.getElementById('favDialog2');
            var submitButton = document.getElementById('sendmsgbtn2')
            dialog.returnValue = 'favAnimal2';

            // Update button opens a modal dialog
            updateButton.addEventListener('click', function() {
                dialog.showModal();
            });

            // Form cancel button closes the dialog box
            cancelButton.addEventListener('click', function() {
                dialog.close('animalNotChosen');
            });

            submitButton.addEventListener("click", (e) => {
                e.preventDefault();
                fetch("/offene-bereiche/add", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    },
                    body: JSON.stringify({bereich_nummer: document.getElementById("bereich_nummer").value, bereich_name: document.getElementById("bereich_name").value, sendMessage: document.getElementById('favAnimal2').value})
                })
                dialog.close('animalNotChosen');
            });

            })();

        </script>

        <script>
            (function() {
            var updateButton = document.getElementById('adminbtn');
            var cancelButton = document.getElementById('cancel');
            var dialog = document.getElementById('favDialog');
            var submitButton = document.getElementById('sendmsgbtn')
            dialog.returnValue = 'favAnimal';

            // Update button opens a modal dialog
            updateButton.addEventListener('click', function() {
                dialog.showModal();
            });

            // Form cancel button closes the dialog box
            cancelButton.addEventListener('click', function() {
                dialog.close('animalNotChosen');
            });

            submitButton.addEventListener("click", (e) => {
                e.preventDefault();
                    fetch("/offene-bereiche/delete", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "Accept": "application/json"
                    },
                    body: JSON.stringify({declined: "True", sendMessage: document.getElementById('favAnimal').value})
                })
                dialog.close('animalNotChosen');
            });

            })();
        </script>
    </div>
</div>

{% endblock %}