@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    line-break: auto;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    background-color: #F5F5FA;
}

body {
    font-size: 1.6rem;
    background: var(--main-bg);
}

main {
    margin: 5rem auto;
}

.home-wrapper h1 {
    font-size: 43px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}






nav {
    background-color: none;

    width: 100%;

}

.nav_elements {
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
}

.logo {
    width: fit-content;
    background: none;
    float: right;
}

.logo h1 {
    font-size: 30px;
}

.nav_burger {
    margin-top: 5px;
    width: 30px;
    float: left;
    font-weight: 900;
}

.nav_burger label{
    background: none;
    display:flex;
    flex-direction:column;
    width:30px;
    cursor:pointer;
}

.menu__btn span{

    background: rgb(0, 0, 0);
    border-radius:10px;
    height:3px;
    margin: 3px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


.menu__btn span:nth-of-type(1){
    width:50%;
    
}

.menu__btn span:nth-of-type(2){
    width:100%;
}


.menu__btn span:nth-of-type(3){
    width:75%;

}

.menu__btn input[type="checkbox"]{
    display:none;
}

.ext_nav {
    height: 40px;
}

#menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
.menu__btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    margin-top: 5px;
    z-index: 31;
}

.menu__box {
    z-index: 30;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ffffff;
}

/* center */

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

.menu__item_ann {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    transition-duration: .25s;
    color: #1744b8;
    background-color: #bcdbff;
    border-radius: 50px;
    width: fit-content;
}
.menu__item_ann1 {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    transition-duration: .25s;
    color: #1bad40;
    background-color: #c4ffce;
    border-radius: 50px;
    width: fit-content;
}
.menu__item_ann2 {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    transition-duration: .25s;
    color: #b83c0c;
    background-color: #ffd7bc;
    border-radius: 50px;
    width: fit-content;
}

.qa {
display: inline-block; 
  vertical-align: top;
  margin-left: 14px;
}







.wrapper {
    margin: 0 auto;
    max-width: 100%;
}
  
.menu {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    width: 20rem;
    max-width: 100%;
    border-radius: 2rem;
    background: var(--menu-bg);
    margin-left: 5px;
}

.menu2 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    max-width: 100%;
    border-radius: 2rem;
    background: var(--menu-bg);
    margin-left: 5px;
}

.btn-menu {
    text-align: center;
    position: relative;
    cursor: pointer;
    background: #0077FF;
    border: none;
    padding: 2rem;
    color: white;
    margin: 1rem;
    border-radius: 3px;
    text-decoration: none; 
    font-size: 1.5rem;
}

.btn-menu:hover {
    background: var(--menu-bg-hover);
}

.btn-menu:focus {
    outline: none;
    box-shadow: none;
}

.btn-menu:hover{
    background-color: #005ac2;
}


.cta-gohst {
    text-align: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 2rem;
    color: #0077FF;
    margin: 1rem;
    border-radius: 5px;
    
    border: solid 2px;
    border-color: #0077FF;
    text-decoration: none; 
    font-size: 1.5rem;
}

.cta-gohst:focus {
    outline: none;
    box-shadow: none;
}

.cta-gohst:hover{
    background-color: #0077FF;
    color: white;
}

.center_tooltip {
    display: inline-block;
    vertical-align: middle;
}

.tooltip {

    text-align: center;
    background: none;
    border: none;
    padding: 2rem;
    color: #0077FF;
    margin: 1rem;
    border-radius: 5px;
    
    border: solid 2px;
    border-color: #0077FF;
    text-decoration: none; 
    font-size: 1.5rem;
    filter:opacity(0.4);

}

  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    filter: none;
   
    /* Position the tooltip text - see examples below! */
    top: -5px;
    left: 105%;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}





.btn {
    background-color: #0077FF; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-top: 10px;
    filter: none;
}
  
.btn:hover {
    background-color: RoyalBlue;
}

h1 {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    margin-bottom: 10px;
}

.form__input {
    color: #333;
    font-size: 1rem;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1.5rem 2rem;
    order: none;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    height: 80px;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    max-width: 17em;
    max-height: 7em;

    resize: none;
}

.form__input:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: ease-out 0.3s;

}

.submit-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #0077FF;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    margin: 5px;
}

.submit-button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: ease-out 0.3s;
}

.clear-button {
    font-family: 'Montserrat', sans-serif;
    background-color: #FF6600;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    margin-top: 30px;
}

.clear-button:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: ease-out 0.3s;
}

#output {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 90%;
}

.func-button {
    font-family: 'Montserrat', sans-serif;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

i {
    background: none;
    font-size: 25px;
}

#btn-menu-mail {
    text-align: center;
    cursor: pointer;
    background: #0077FF;
    border: none;
    padding: 2rem;
    color: white;
    margin: 1.5rem;
    border-radius: 3px;
    text-decoration: none; 
    font-size: 1.5rem;
}

#btn-menu-mail:hover{
    background-color: #ffffff;
    color: #0077FF;
}

#btn-menu-os {
    text-align: center;
    cursor: pointer;
    background: #FF6600;
    border: none;
    padding: 2rem;
    color: white;
    margin: 1.5rem;
    border-radius: 3px;
    text-decoration: none; 
    font-size: 1.5rem;
}

#btn-menu-os:hover{
    background-color: #ffffff;
    color: #FF6600;}

.submit-button_1 {
    font-family: 'Montserrat', sans-serif;
    background-color: #0077FF;
    color: white;
    border: none;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    margin: 5px;
    font-size: larger;
}

.submit-button_1:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: ease-out 0.3s;
}

.neuer_bereich {
    background-color: #ffffff;
    margin: 10px;
  
    max-width: fit-content;
    width: 100%;
  
  
    text-align: left;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.neuer_bereich div {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    background: none;
    padding: 10px;
}

.neuer_bereich p {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background: none;
}

.bereich_nummer {
    color: #333;
    font-size: 1rem;

    margin-top: 8px;
    padding: 5px;
    order: none;
    border-radius: 0.2rem;
    background-color: #F5F5FA;
    border: none;
    height: 50px;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    max-width: 17em;
    max-height: 7em;

    resize: none;
}

.divline {
    height: 1px;
    width: 80%;
    border: none;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.angelegter_bereich {
    background-color: #ffffff;
    margin: 10px;
  
    max-width: fit-content;
    width: 100%;
  
  
    text-align: left;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.angelegter_bereich div {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    background: none;
    padding: 10px;
}

.angelegter_bereich p, h1, h2, h3 {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background: none;
}

#cancel, #cancel2 {
    text-align: center;
    cursor: pointer;
    background: #FF6600;
    border: none;
    padding: 1rem;
    color: white;
    margin: 1rem;
    border-radius: 3px;
    text-decoration: none; 
}

#cancel:hover, #cancel2:hover{
    background-color: #ffffff;
    color: #FF6600;
}

#sendmsgbtn, #sendmsgbtn2 {
    text-align: center;
    cursor: pointer;
    background: #0077FF;;
    border: none;
    padding: 1rem;
    color: white;
    margin: 1rem;
    border-radius: 3px;
    text-decoration: none; 
}

#sendmsgbtn:hover, #sendmsgbtn2:hover{
    background-color: #ffffff;
    color: #0077FF;;
}


dialog {
    font-family: 'Montserrat', sans-serif;
    margin: 200px auto;
    width: 500px;
    max-width: 100%;
    border-radius: 5px;
    border: none;
    background: #F5F5FA;
    padding: 20px;
    text-align: center;
}

dialog input {
    color: #333;
    font-size: 1rem;

    margin: 0 auto;
    margin-top: 8px;
    padding: 5px;
    order: none;
    border-radius: 0.2rem;
    background-color: white;
    border: none;
    height: 50px;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    max-width: 17em;
    max-height: 7em;

    resize: none;
}

#adminbtn {
    text-align: center;
    cursor: pointer;
    background: #FF6600;
    border: none;
    padding: 1rem;
    color: white;
    margin: 1rem;
    border-radius: 3px;
    text-decoration: none; 
}

#adminbtn:hover{
    background-color: #ffffff;
    color: #FF6600;
}


.gesch_bereich {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #ffffff;
    margin: 10px;
  
    max-width: fit-content;
    width: 100%;
  
  
    text-align: left;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.gesch_bereich div {
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    background: none;
    padding: 10px;
}

.gesch_bereich p, h1, h2, h3 {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background: none;
}
.bereich_claim {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.add_btns {
    margin-top: 10px;
}






.allgemein, .neues, .wgt {
    display: absolute;
    padding: 8px 16px;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: none;
    transition-duration: .25s;
    border-radius: 50px;
    width: fit-content;
}

.allgemein {
    color: #1744b8;
    background-color: #bcdbff;
}
.neues {
    color: #1bad40;
    background-color: #c4ffce;

}
.wgt {
    color: #b83c0c;
    background-color: #ffd7bc;
}

.devlog {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    max-width: 90%;
    padding: 20px;
    border-radius: 8px;
    background-color: white;

    margin: 10px;
}

.devlog_title {
    margin-bottom: 10px;
}

.blog {
    margin-left: 5px;
}

.app_info {
    color: gray;
    margin-left: 15px;
}










.fk3-field {
    display: inline-block;
}

.wrapper {
    margin-top: 15px;
}